version: '3.8'

services:
  backend:
    build:
      context: Backend
      dockerfile: Dockerfile-dev
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./rclone:/home/media/.config/rclone
    env_file:
      - .env

  frontend:
    build: ./frontend
    restart: always

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend